<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <a href="{{url_for('mainPage')}} ">Home</a>
        <a href="{{url_for('slideshow')}} ">Album</a>
    </nav>
    <hr class="nav__line u-margin-bottom-medium">
    <div class="container">
       <section class="section__a">
            <span class="card__heading u-margin-top-huge">
               Yohanna <br> & <br> Issac
            </span>
            <span class="card__date u-margin-top-huge ">
                    april 14, 2018 
                   <br> Portland, OR
            </span>
       </section>
       <section class="section__b">
           <img src="https://image.ibb.co/kYO4qx/pre_wedding_1.jpg" alt="pre-wedding photo">
       </section>
       <section class="section__c">
           <div class="card">
                <span class="card__name--groom"> 
                    miss yohana petros zekarias 
                    &
                    mr issak negasi solomon
                </span>
                <span class="card__heading">
                    WEDDING
                </span>
                <span class="card__date">
                    saturday april 14, 2018
                   <br> 09:00 AM
                </span>
                <span class="card__location">
                    Cermony <br>
                    <a href="https://www.google.com/maps/place/St+John+the+Baptist+Greek+Orthodox+Church/@45.5133631,-122.8280931,17z/data=!4m12!1m6!3m5!1s0x54950edafe6aac57:0xea480007d7d3a1e6!2sSt+John+the+Baptist+Greek+Orthodox+Church!8m2!3d45.5133631!4d-122.8259044!3m4!1s0x54950edafe6aac57:0xea480007d7d3a1e6!8m2!3d45.5133631!4d-122.8259044" class="card__location--link">st john the baptist greek orthodox church
                            14485 sw walker rd beaverton, or 97006</a>
                </span>
                  <div class="card__reception">
                      
                    
                    <span class="card__reception--place">
                        Reception <br>
                        <a href="https://www.google.com/maps/place/Ambridge+Event+Center+in+Portland,+OR,+USA,+1333+NE+Martin+Luther+King+Jr+Blvd,+Portland,+OR+97232/@45.5324707,-122.6642966,17z/data=!4m13!1m7!3m6!1s0x5495a74d4c8a8e19:0x9237b7c88a709cff!2sAmbridge+Event+Center+in+Portland,+OR,+USA,+1333+NE+Martin+Luther+King+Jr+Blvd,+Portland,+OR+97232!3b1!8m2!3d45.532467!4d-122.6621079!3m4!1s0x5495a74d4c8a8e19:0x9237b7c88a709cff!8m2!3d45.532467!4d-122.6621079" class="card__location--link">
                            ambrige event center
                            1333 ne martin luther king jr blvd
                            portland, Or 97232
                        </a>
                    </span>
                    <span class="card__receptoin--time">
                        Please join us for the reception at 5.30pm
                    </span>
                    
                  </div>
                  <span class="card__message">
                    Attire is dress to impress (formal evening wear)
                </span>

           </div>
       </section>
    </div>
</body>
</html>